@using Phoneden.ViewModels
@model Phoneden.ViewModels.BrandPageViewModel

@{
  ViewBag.Title = "Your Brands";
}

<div class="page-title">
  <h3>Product Brands</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-title no-border">
        <div>
          @{
            var deletedFlag = !ViewBag.ShowDeleted;
          }

          <a asp-controller="Brand" asp-action="Page" asp-route-showDeleted="@deletedFlag" class="btn btn-mini btn-info pull-right">
            @(ViewBag.ShowDeleted ? "Hide Deleted" : "Show Deleted")
          </a>
        </div>
      </div>
      <div class="grid-body no-border">
        <table class="table table-striped table-flip-scroll cf">
          <thead class="cf">
            <tr>
              <th>
                Name
              </th>
              <th>
                Status
              </th>
              <th>
                Created On
              </th>
              <th>
                Modified On
              </th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model.Brands)
            {
              <tr>
                <td>
                  @item.Name
                </td>
                <td>
                  @if (item.IsDeleted)
                  {
                    <span class="label label-inverse">DELETED</span>
                  }
                  else
                  {
                    <span class="label label-success">ACTIVE</span>
                  }
                </td>
                <td>
                  @item.CreatedOn
                </td>
                <td>
                  @item.ModifiedOn
                </td>
                <td>
                  @if (!item.IsDeleted)
                  {
                    <a asp-controller="Brand"
                       asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-mini btn-warning pull-right">
                      Edit
                    </a>

                    <a asp-controller="Brand"
                       asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-mini btn-danger pull-right">
                      Delete
                    </a>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
        <cs-pager cs-paging-pagesize="10"
                  cs-paging-pagenumber="@Model.Pagination.CurrentPage"
                  cs-paging-totalitems="@Model.Pagination.TotalRecords"
                  cs-pagenumber-param="page"
                  asp-controller="Brand"
                  asp-action="Page"></cs-pager>
      </div>
    </div>
    <a asp-controller="Brand"
       asp-action="Create"
       asp-route-showDeleted="false"
       class="btn btn-primary pull-right">
      Add New Brand
    </a>
  </div>
</div>
