@using Phoneden.ViewModels
@model Phoneden.ViewModels.InventoryReportViewModel

@{
  ViewBag.Title = "In Stock Products";
}

<div class="page-title">
  <h3>Products Report</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <br>
        <div class="row">
          <div class="col-md-12">
            <h3 class="all-caps">
              <span class="semi-bold">Filter</span> Results
            </h3>
            <hr />
          </div>
        </div>

        @using (Html.BeginForm("Inventory", "Report", FormMethod.Get))
        {
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                @Html.LabelFor(model => model.Search.SearchTerm, new { @class = "form-label" })
                <div class="controls">
                  @Html.EditorFor(m => m.Search.SearchTerm, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Search.SearchTerm, "", new { @class = "text-danger" })
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                @Html.LabelFor(model => model.Search.Category, new { @class = "form-label" })
                <div class="controls">
                  <select asp-for="Search.Category" asp-items="Html.GetEnumSelectList<SearchCategory>()" class="form-control">
                    <option>Select a search category</option>
                  </select>
                  @Html.ValidationMessageFor(m => m.Search.Category, "", new {@class = "text-danger"})
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary pull-right filter">Filter Results</button>
              <a asp-controller="Report" asp-action="Inventory" class="btn btn-default pull-right">Reset</a>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <table class="table table-striped table-flip-scroll cf">
          <thead class="cf">
          <tr>
            <th>
              Product Name
            </th>
            <th>Stock</th>
            <th>
              Category
            </th>
            <th>
              Brand
            </th>
            <th>
              Quality
            </th>
            <th>
              Quantity
            </th>
          </tr>
          </thead>
          <tbody>
          @foreach (var product in Model.Products)
          {
            <tr>
              <td>
                @Html.DisplayFor(p => product.Name)
              </td>
              <td>
                @if (product.Quantity > product.AlertThreshold)
                {
                  <span class="label label-success">OK STOCK</span>
                }
                else if (product.Quantity == 0)
                {
                  <span class="label label-danger">OUT OF STOCK</span>
                }
                else
                {
                  <span class="label label-inverse">LOW STOCK</span>
                }
              </td>
              <td>
                @Html.DisplayFor(m => product.Category)
              </td>
              <td>
                @Html.DisplayFor(m => product.Brand)
              </td>
              <td>
                @Html.DisplayFor(p => product.AssociatedQuality)
              </td>
              <td>
                @Html.DisplayFor(s => product.Quantity)
              </td>
            </tr>
          }
          </tbody>
        </table>
        <cs-pager cs-paging-pagesize="10"
                  cs-paging-pagenumber="@Model.Pagination.CurrentPage"
                  cs-paging-totalitems="@Model.Pagination.TotalRecords"
                  cs-pagenumber-param="page"
                  asp-controller="Report"
                  asp-action="Inventory">
        </cs-pager>
      </div>
    </div>
  </div>
</div>
